<!-- what does this page do?
we want to able to let the user pick a user name
and then send  them to our main page after they pick a name -->

<!-- <div ng-controller='usersController as users'>
  <form ng-submit='users.requestName(users.input)'>
    <div ng-show='users.error'>yo<span ng-bind='users.error.errors.name.message'></span></div>
    <label>Please choose a user name: <input type='text' ng-model='users.input.name' required></label>
    <button>Submit</button>
  </form>

</div> -->


<div ng-controller='usersController'>
  login page
</div>
