
<a href="#/logout">logout</a>
<div ng-controller='mainController'>
  <label>Search: </label><input type="text" ng-model='filter_name' placeholder='search'>
  <table>
    <thead>
      <tr>
        <td>
          Question
        </td>
        <td>
          Answers
        </td>
        <td>
          Action
        </td>
      </tr>
    </thead>
    <tr ng-repeat='question in questions | filter:filter_name | orderBy: -created_at'>
      <td>
        <span ng-bind='question.question'></span>
      </td>
      <td>
        <span ng-bind='question.answer_count'></span>
      </td>
      <td>
        <button ng-click='showQuestion(question)'>Show</button>
        <button ng-click='newAnswer(question)'>Answer</button>
      </td>
    </tr>
  </table>
</div>
