<!-- <a href="#/logout">logout</a> -->
<div ng-controller='newQuestionController' class="container">
  <!-- {{currentUser.name}} -->

  <h1>New Question</h1>
  <form ng-submit='createQuestion(newQuestion)'>
    <div ng-show='error'><span ng-bind='error.errors.question.message'></span></div>
     <label>Question: <textarea ng-model='newQuestion.question'class="materialize-textarea" required></textarea></label>
     <label>Description (optional): <textarea ng-model='newQuestion.description' class="materialize-textarea"></textarea></label>
     <button class="btn waves-effect waves-light" type="submit" name="action">Submit
       <i class="material-icons right">send</i>
     </button>
   </form>
  <button class="btn waves-effect waves-light red">Cancel <i class="material-icons right">not_interested</i></button>
</div>
